*{
    margin: 0;
    padding: 0;
}

h1{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 25px;
    font-weight: 25px;
    background-color: rgb(198, 198, 198);
    color: purple;
}

img{
    margin-left: 23%;
}

p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: 5px;
    background-color: rgb(198, 198, 198);
    color: purple;
    margin: 15px 25px 15px 25px;
}